.btn-outline-success 
{
    color: 	#FF69B4;
    border-color:#FF69B4;
}
.btn-outline-success:hover 
{
    background-color: #FF69B4; 
    color: white;
}
.form-control 
{
    border: 1px solid #FF69B4;
}
footer
{
    background-color: #f1f1f1;
    margin-top: 10px;
}

.toolbar
{
    font-family: 'Fredericka the Great', cursive;
}
